.badge {
  height: 37px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #1d6154;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0px 1em;
}

.all {
  width: 100px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 60px;
  border: 1px solid #1d6154;
  background: #1d6154;
  color: #fff;
  padding: 0px;
}
.gen {
  color: #1d6154;
}

.badgeContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 35px 0px 51px 0px;
}
.off {
  display: none;
}

/* login */
header a {
  text-decoration: none;
}
.connexion {
  width: 50%;
  padding: 10% 25%;
  display: flex;
  flex-direction: column;
}

.connexion h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.connexion h3 {
  margin: 20px 0;
}

.form {
  width: 100%;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: transparent;
  padding: 15px 0;
  margin-bottom: 30px;
  margin-top: 5px;
}

.button_connexion {
  width: 40%;
  background: #1d6154;
  border-radius: 60px;
  margin: 20px 30%;
  color: white;
  padding: 7px;
  border: 0px solid transparent;
  font-family: "syne";
  cursor: pointer;
}
.connexion a {
  text-align: center;
  color: black;
}

#login-submit {
  width: 40%;
  margin: 20px 30%;
  padding: 10px;
}

.filter {
  text-align: center;
  margin-bottom: 30px;
}

button.filter_element {
  min-width: 100px;
  padding: 10px;
  background: none;
  border: 1px solid #1d6154;
  border-radius: 60px;
  color: #1d6154;
  margin: 0 10px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.filter_element.active,
.filter_element:hover {
  color: white;
  background-color: #1d6154;
}

nav a {
  text-decoration: none;
  color: black;
}

#login-error {
  border: 2px solid red;
  padding: 10px;
  color: red;
  border-radius: 10px;
}

.hidden-admin {
  display: none;
}
.hidden-error {
  display: none;
}
.hidden {
  display: none;
}
.edit-projet {
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modalEdit {
  position: relative;
  max-width: 630px;
  height: 688px;
  margin: auto;
  padding: 0px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  top: 980px;
  left: 90px;
}
.modalEdit::backdrop {
  background: #00000029;
}
.wrapModal {
  max-width: 630px;
  height: 684px;
  min-width: 400px;
  padding: 0 105px;
  display: flex;
  flex-direction: column;
}
.wrapModal p {
  padding-top: 60px;
  padding-bottom: 46px;
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapModal .fa-xmark {
  position: absolute;
  top: 26px;
  right: 30px;
}
.wrapModal .fa-arrow-left {
  position: absolute;
  top: 26px;
  left: 30px;
}

.modalWorks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.modalWorks figure {
  position: relative;
}
.wrapTrash {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  background: #000;
}
.modalWorks .trash {
  color: #fff;
  font-size: 10px;
}

.modalWorks img {
  width: 78px;
  height: 104px;
}
.modalLine {
  margin-top: 50px;
  width: 420px;
  height: 1px;
  background: #b3b3b3;
}
.modalAddPictureButton {
  border: none;
  height: 50px;
  width: 180px;
  font-size: 1.2em;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
}
.modalAddPictureButton:focus-visible {
  outline: none;
}

.modalWrapAddPicture {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 420px;
}
.modalWrapAddPicture p {
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.uploadWrapper {
  display: flex;
  flex-direction: column;
  background: #e8f1f6;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 420px;
  height: 169px;
}
.uploadWrapper p {
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0px;
}
.uploadWrapper input[type="file"]::file-selector-button {
  display: none;
}
#file {
  display: none;
  background: grey;
}

.imgUpload {
  width: 76px;
  height: 76px;
  margin: 10px;
}
.uploadLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background: #b3b3b3;
}

.wrapForm {
  display: flex;
  flex-direction: column;
}
#title-input {
  height: 51px;
  border: none;
  box-shadow: 0px 4px 14px 0px #00000017;
  margin: 5px;
}
#category-input {
  margin: 5px;
  height: 51px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 4px 14px 0px #00000017;
}
.category-input select {
  font-size: larger;
  color: black;
}

.modalButton {
  width: 237px;
  height: 50px;
  background: #a7a7a7;
  background-color: #a7a7a7;
  border-radius: 60px;
  border: none;
}
.modalAddPicture {
  padding: 0px;
  position: relative;
  max-width: 630px;
  height: 688px;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  top: 980px;
  left: 90px;
}

.homePageEdit {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 59px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePageEdit p {
  color: #fff;
}
.homePageEdit .fa-pen-to-square {
  color: #fff;
}
